<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SanityTest">
  <test thread-count="5" name="Test">
    <classes>
      <class name="POM_TestNG.Priority_KeyWord_TestNG"/>
      <class name="POM_TestNG.login"/>
      <class name="POM_TestNG.Test_Ng_Annotations"/>
      <class name="popups.checkdisplay"/>
      <class name="popups.isselectcheck"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SanityTest -->
